.slider-container {
  width: 100%; // Adjust width as per your need
  max-width: 300px; // Maximum width of the slider
  margin: 0 auto; // Center align

  @include media-max(lg) {
    height: 100%;
    min-height: 280px;
  }

  .slick-dots {
    bottom: -25px; // Adjust position of dots
    display: flex !important;
    justify-content: center;
    align-items: center;

    li {
      button {
        width: 1px !important;
        height: 1px;
        border-radius: 50%;
        border: 6px solid #1f7f82;
        background-color: white;
        transition: background-color 0.3s ease;
      }
      ::after {
        content: "";
      }
      ::before {
        content: "";
      }

      &.slick-active button {
        background-color: #1f7f82; // Active dot color
        width: 1px; // Slightly bigger size for active dot
        height: 1px;
      }
    }
  }
}
.next-pickup-card {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 310px;
  font-family: Arial, sans-serif;
  @include media-max(lg) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .icon {
    margin-right: 16px;
    padding: 10px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .content {
    .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      gap: 5px;

      .title {
        font-size: 14px;
        font-weight: $fw-400;
        color: #333;
      }

      .status {
        font-size: 12px;
        color: #067647;
        background-color: #abefc6;
        padding: 2px 8px;
        border-radius: 12px;
        text-align: center;
        font-weight: 500;
      }
    }

    .location {
      font-size: 14px;
      color: #555;
      margin-bottom: 8px;
      display: flex;
      gap: 5px;
    }

    .date-time {
      .date {
        font-size: 25px;
        font-weight: bold;
        color: #333;
      }

      .time {
        font-size: 14px;
        color: #555;
      }
    }
  }
}
