$primary-color: #1d6568;
$primary-hover: #134d4f;
$secondary-color: #414651;
$border-color: #d5d7da;
$text-muted: #999999;

.login-page {
  background-image: url("/images/bgimageNew.png");
  width: 100%;
  height: 100vh;
  background-position: center top;
  background-size: 100% 100%;

  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("/images/newFrame.png");
    background-size: cover;

    .login-form {
      background: #fff;
      padding: 2rem;
      border-radius: 20px;
      position: absolute;
      width: 100%;
      max-width: 530px;
      height: 100%;
      max-height: 590px;
      position: relative;
      left: 0%;

      @include media-max(desktop-lg) {
        left: 27%;
      }
      @include media-max(desktop-sm) {
        left: 15%;
      }
      @include media-max(tablet-lg) {
        left: 10%;
      }
      @include media-max(tablet) {
        left: 5%;
      }
      @include media-max(tablet-sm) {
        padding: 1.5rem;
        left: 0%;
      }
      @include media-max(lg) {
        padding: 1rem;
        max-width: 340px;
        max-height: 670px;
      }
      @include media-max(md) {
        padding: 1rem;
        max-width: 310px;
        max-height: 670px;
      }
      .login-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        p {
          font-size: 12px;
          color: #999999;
          font-weight: $fw-400;
        }

        @include media-max(lg) {
          flex-direction: column;
          gap: 5px;
          margin-bottom: 5px;
        }
      }

      .form-container {
        width: 100%;
        padding: 20px;

        .login-title {
          text-align: center;
          margin: 20px 0;

          h2 {
            font-size: 24px;
            font-weight: 600;
          }
          p {
            font-size: 14px;
            font-weight: $fw-400;
          }
        }
        .login-form-group {
          margin-bottom: 15px;

          .form-group {
            margin-bottom: 1rem;

            label {
              display: block;
              font-weight: 500;
              color: #414651;
              font-size: 14px;
              margin-bottom: 5px;
            }

            input {
              width: 100%;
              padding: 8px;
              border: 1px solid #d5d7da;
              border-radius: 5px;
              font-size: 14px;
              color: #333;
              transition: border-color 0.3s;

              &:focus {
                border-color: #1f7f82;
                outline: none;
                box-shadow: 0 0 5px rgba(31, 127, 130, 0.3);
              }
            }
          }

          .login-checkbox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;

            @include media-max(lg) {
              flex-direction: column;
              gap: 5px;
              align-items: flex-start;
            }
            .checkbox-section {
              display: flex;
              align-items: center;
              gap: 5px;

              input[type="checkbox"] {
                width: 16px;
                height: 16px;
                cursor: pointer;
                accent-color: #1d6568;

                &:hover {
                  accent-color: #1e5758;
                }
              }
            }

            p {
              color: #1d6568;
              cursor: pointer;
              transition: color 0.3s;

              &:hover {
                color: #134d4f;
              }
            }
          }
        }

        .login-button {
          width: 100%;
          padding: 0.7rem;
          background-color: #1d6568;
          color: #fff;
          font-size: 1rem;
          font-weight: bold;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background 0.3s ease-in-out;

          &:hover {
            background-color: #134d4f;
          }
        }

        .footer-title {
          margin-top: 15px;
          text-align: center;
          font-size: 13px;
        }
      }
    }
  }
}
