.main-section {
  .guidelines-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;

    .right-section {
      display: flex;
      gap: 25px;
    }
  }
  .guideline-main-section {
    .guideline-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .middle-component {
      margin-top: 20px;
    }
  }
}
