.main-section {
  .guideline-main-section {
    .guideline-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .middle-component {
      margin-top: 20px;
    }
  }
}
