@use "./helpers/media-queries" as *;

.back-text {
  font-size: 12px;
  font-weight: 500;
  border: none;
  margin-bottom: 0px;
}

.primary-title {
  font-size: 16px;
  font-weight: 600;
}

.secondary-title {
  font-size: 14px;
  font-weight: 500;
}

// white bg for section
.common-main-section {
  padding: 40px 30px 10px 30px;
  background-color: white;
  border-radius: 20px;
  min-height: calc(100vh - 224px);

  @include media-max(lg) {
    padding: 30px 20px 10px 20px;
  }
}
// tab section
.common-tab-section {
  padding: 15px;
  display: flex;
  gap: 20px;
  background-color: #c9ffdf;
  border-radius: 20px;
  flex-wrap: wrap;
  .btn {
    border-radius: 7px;
    padding: 5px 15px 5px 15px;
    border: none;
    font-size: 14px !important;
    background-color: white;
    &.selected {
      background-color: #1f7f82;
      color: white;
    }
  }
  button:hover {
    background-color: #1f7f82;
    color: white;
  }
  .dropdown {
    width: 100%;
    max-width: 280px;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
    outline: none;
    appearance: none; // Removes default browser styles
    background-image: url("/images/dropdownIcon.png"); // Add dropdown icon
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
  }
}
// header section . title , search bar , dropdown
.common-page-toolbar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;

  @include media-max(lg) {
    padding: 5px 0px 5px 0px;
    gap: 20px;
  }

  .tool-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
  @include media-max(lg) {
    flex-direction: column;
    gap: 10px;
  }

  select {
    word-wrap: normal !important;
    border: none !important;
  }

  .pagination {
    display: flex;
    gap: 10px;

    .span {
      font-weight: 500;
    }

    button {
      border: none;
      padding: 5px 9px;
      border-radius: 7px;
      font-size: 0.8rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover:not(:disabled) {
        background-color: #1f7f82;
        color: white;
      }

      &.active {
        background-color: #1f7f82;
        color: #fff;
        font-weight: 500;
      }
      &.disable {
        background-color: #e0ffec;
        color: #181d27;
        font-weight: 500;
      }
    }
    .btn-text {
      &:disabled {
        cursor: not-allowed;
        background-color: transparent;
        color: black;
      }
      &:hover:not(:disabled) {
        background-color: transparent;
        color: black;
      }
    }

    span {
      font-size: 0.95rem;
      color: #555;
    }
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
