.back-text {
  font-size: 12px;
  font-weight: 500;
  border: none;
}

.primary-title {
  font-size: 16px;
  font-weight: 600;
}

.secondary-title {
  font-size: 14px;
  font-weight: 500;
}

.common-main-section {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
