$primary-100: #ffffff;
$table-header-background: #c9ffdf;
$btn-hover-color: #1f7f82;
$secondary-color: #1d6568;
$secondary-btn-hover-color: #3fb4b4;
$beage-color: #067647;
//     #299170

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;
$fs-30: 30px;

$grid-breakpoints: (
  xs: 0,
  // Extra small devices
  sm: 320px,
  // Small Mobile (e.g., iPhone SE)
  md: 375px,
  // Medium Mobile (e.g., iPhone X, Galaxy S9)
  lg: 425px,
  // Large Mobile (e.g., Pixel 5)
  tablet-sm: 600px,
  // Small Tablets (e.g., Nexus 7, Kindle Fire)
  tablet: 768px,
  // Standard Tablets (e.g., iPad portrait mode)
  tablet-lg: 1024px,
  // Large Tablets (e.g., iPad landscape mode)
  desktop-sm: 1280px,
  // Small Desktops (e.g., laptops, smaller monitors)
  desktop-md: 1440px,
  // Medium Desktops (e.g., larger laptops, high-res monitors)
  desktop-lg: 1920px
    // Large Desktops (e.g., Full HD screens),,,,,,,,,,,,,,,,,,,,,
) !default;

.add-btn {
  color: #1f7f82;
  border: #1f7f82 2px solid;
  padding: 10px 8px;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  gap: 9px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 0px !important;
  margin-bottom: 0px !important;

  &:hover {
    background-color: #1f7f82;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 91, 179, 0.2);
  }
}

.buttons {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
