.header {
  height: 60px;
  margin-bottom: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 0 25px;

  @include media-max(lg) {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
  }

  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  &.shifted {
    margin-left: 0px;
    width: 1365px;
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 10px;

    .title {
      font-size: 24px;
      font-weight: 600;
      white-space: nowrap;

      @include media-max(lg) {
        font-size: 20px;
      }
    }
    .title-sm {
      font-size: 20px;
      font-weight: 600;
      white-space: nowrap;
    }

    .logo-text {
      color: #ffffff; // White text color
      text-decoration: none !important;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-items: center;
    align-items: center;
    cursor: pointer;

    @include media-max(lg) {
      justify-content: space-evenly;
      .row {
        margin-bottom: 0px !important;
      }
    }

    .dropdown-section {
      padding: 10px;
      background-color: transparent !important;
      border: 2px solid black;
      border-radius: 5px;
    }
    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .header-btn {
        display: flex;
        align-items: center;
        color: black;
        background-color: transparent;
        border: none !important;
        gap: 10px;

        &:active,
        &:focus,
        &:disabled {
          border: none;
          background-color: transparent;
        }

        &:disabled {
          background-color: transparent;
        }
      }
      .dropdown-toggle::after {
        display: none !important;
        content: none !important;
      }
    }
  }
}
