.chart-section {
  margin-top: 20px;
  position: relative;
  width: 100%;
  max-width: 500px;
  .chart-title {
    padding-left: 20px;
  }
  .chart-box {
    position: relative;
    border-radius: 10px;
    border: 1px solid #e9eaeb;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 240px;
  }
  h2 {
    font-size: 15px;
    font-weight: $fw-400;
    margin-top: 10px;
    margin-left: 10px;
  }
  .chart-data {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    .row {
      border-bottom: 1px solid #e9eaeb;
      .col {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-right: 1px solid #e9eaeb;
        align-items: center;
        padding: 10px;
        .oil-value {
          margin-bottom: 0px;
          font-size: 24px;
          font-weight: 600;
        }
        .oil-type-section {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          .oil-type {
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
