$sidebar-width: 310px;
$sidebar-bg: white;
$sidebar-color: #7c7c7c;
$highlight-color: #c9ffdf;

.sidebar {
  position: absolute;
  width: 100%;
  max-width: $sidebar-width;
  height: 90vh; // Make it responsive to screen height
  // height: 75vh;
  background-color: $sidebar-bg;
  color: $sidebar-color;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  top: 20px;
  left: 20px;
  flex-direction: column;

  @include media-max(xxl) {
    height: 75vh;
  }

  &.collapsed {
    transform: translateX(-100%);
  }

  .sidebar-logo {
    display: flex;
    height: 80px;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
    position: fixed;
    z-index: 10;
  }

  .sidebar-nav {
    flex: 1;
    margin-top: 80px;
    overflow-y: auto;
    height: calc(100vh - 150px);
    scrollbar-width: thin;
    scrollbar-color: $sidebar-color $sidebar-bg;

    @include media-max(xxl) {
      height: calc(78vh - 117px);
    }

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: $sidebar-bg;
    }
    &::-webkit-scrollbar-thumb {
      background: $highlight-color;
      border-top-left-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: darken($sidebar-color, 10%);
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 5px;
        width: 100%;

        &.selected,
        .menu-header:hover {
          background-color: $highlight-color;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          width: $sidebar-width - 25px; // Adjust width without hardcoding
        }

        .menu-header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          cursor: pointer;
          padding: 10px 20px;
          gap: 10px;
          transition: background-color 0.3s ease;

          a {
            display: block;
            color: $sidebar-color;
            text-decoration: none;
            font-size: 14px;
            font-weight: $fw-400;
          }

          .caret-icon {
            font-size: 0.8rem;
            margin-left: auto;
            transition: transform 0.3s ease;
          }
        }

        .submenu {
          list-style: none;
          display: block;
          width: 100%;
          transition: all 0.3s ease;

          li {
            a {
              display: block;
              padding: 7px 45px;
              color: $sidebar-color;
              text-decoration: none;
              font-size: 0.8rem;
              transition: background-color 0.3s ease;
            }
          }
        }
      }
    }
    .settings-section {
      margin-top: 40%;
      padding: 32px 25px 32px 25px;
      display: flex;
      gap: 7px;

      .label {
        color: $sidebar-color;
        text-decoration: none;
        font-size: 14px;
        font-weight: $fw-400;
      }

      @include media-max(xxl) {
        margin-top: 60%;
      }
    }
  }
}

@media screen and (min-width: 1440px) and (min-height: 920px) {
  $sidebar-width: 302px;

  .sidebar {
    max-width: $sidebar-width;
    height: 75vh; // Adjust sidebar height based on viewport height

    .sidebar-logo {
      padding-left: 25px;
    }
    .sidebar-nav {
      ul {
        li {
          .menu-header {
            gap: 20px;
            a {
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }

    .settings-section {
      margin-top: 70%;
    }
  }
}
