$sidebar-width: 270px;
$sidebar-bg: white;
$sidebar-color: #414651;
$highlight-color: #c9ffdf;

.sidebar {
  position: absolute;
  width: 100%;
  max-width: $sidebar-width;
  height: 590px;

  background-color: $sidebar-bg;
  color: $sidebar-color;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  top: 20px;
  left: 20px;

  &.collapsed {
    transform: translateX(-100%);
  }

  .sidebar-logo {
    display: flex;
    height: 80px;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
  }

  .sidebar-nav {
    margin-top: 10px;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 5px;
        width: 100%;

        &.selected,
        .menu-header:hover {
          background-color: $highlight-color;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          width: $sidebar-width - 25px; // Adjust width without hardcoding
        }

        .menu-header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          cursor: pointer;
          padding: 10px 20px;
          gap: 10px;
          transition: background-color 0.3s ease;

          a {
            display: block;
            color: $sidebar-color;
            text-decoration: none;
            font-size: 12px;
            font-weight: 400;
          }

          .caret-icon {
            font-size: 0.8rem;
            margin-left: auto;
            transition: transform 0.3s ease;
          }
        }

        .submenu {
          list-style: none;
          display: block;
          width: 100%;
          transition: all 0.3s ease;

          li {
            a {
              display: block;
              padding: 7px 45px;
              color: $sidebar-color;
              text-decoration: none;
              font-size: 0.8rem;
              transition: background-color 0.3s ease;
            }
          }
        }
      }
    }
  }

  .settings-section {
    padding-top: 80px;
    padding-left: 25px;
    display: flex;
    gap: 7px;

    .label {
      color: $sidebar-color;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 1440px) and (max-height: 920px) {
  $sidebar-width: 302px;
  .sidebar {
    max-width: $sidebar-width;
    min-height: 788px;

    .sidebar-logo {
      padding-left: 25px;
    }
  }
}
