/* Banner.scss */
.banner-component {
  display: flex;
  gap: 10px;
  width: 480px;

  .img img {
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    width: 118px;
  }

  .details {
    flex: 1;

    .title-section {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: space-between;
    }

    .sorting-priority {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 1px;
    }

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .edit-icon {
      cursor: pointer;
    }

    .banner-description {
      font-size: 12px;
      .description {
        margin-bottom: 5px;
      }
    }
    .state-details {
      display: flex;
      margin-bottom: 15px;
      .details {
        .title {
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 0px;
        }
        .data {
          font-weight: 400;
          font-size: 12px;
          margin-bottom: 0px;
        }
      }
    }

    .banner-status {
      display: flex;
      align-items: center;
      gap: 20px;

      .status-label {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 0;
      }

      .status-value {
        width: 95px;
        padding: 5px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;

        text-align: center;
        &.dark {
          background-color: #1f7f82;
          color: #ffffff;
        }
        &.light {
          background-color: #c9ffdf;
          color: #181d27;
        }
      }
    }
  }
}
