.collector-address {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-width: 375px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;

  @include media-max(lg) {
    flex-direction: column;
    align-self: start;
  }

  .image-container {
    @include media-max(lg) {
      height: auto;
      width: 100px;
    }
  }
  .address-details {
    padding: 16px;
    background-color: #f9f9f9;

    h2 {
      margin: 0 0 8px;
      font-size: 16px;
      color: #333;
    }

    p {
      margin: 4px 0;
      font-size: 14px;
      color: #555;
    }
  }
}
