.collecter-container {
  @include media-max(lg) {
    flex-direction: column;
    align-items: center;
  }

  .collecter-info {
    .collecter-details {
      @include media-max(lg) {
        flex-direction: column;
      }
      .collecter-address {
        .extra-details {
          .row {
            margin-left: 2px;
            margin-bottom: 0px;
            --bs-gutter-x: 0px;
            .col-6 {
              width: 45%;
            }
          }
        }
      }
    }
  }
}
