$primary-bg-color: white;
$font-family: "Inter", sans-serif;

.dashboard-section {
  transition: margin-left 0.3s ease;
  // margin-left: 30px;

  .main-section {
    padding: 20px;
    border-radius: 20px;
    background-color: $primary-bg-color;

    .cards-container {
      display: flex;
      margin-top: 30px;
      flex-wrap: wrap;
    }
    .chart-contant {
      margin-top: 30px;
      display: flex;
      gap: 15px; // gap: 32px;
    }
  }
}

@media screen and (min-width: 1440px) and (max-height: 920px) {
  .dashboard-section {
    margin-left: 70px;
    .main-section {
    }
  }
}

@media (max-width: 768px) {
  .dashboard-section {
    margin-left: 10px;
    padding: 10px;
  }

  .dashboard-section h1 {
    font-size: 2rem;
  }

  .main-section {
    .cards-container,
    .chart-contant {
      flex-direction: column;
      gap: 10px;
    }
  }

  .table-section {
    flex-direction: column;
    .top-collecter-section,
    .top-recycler-section {
      width: calc(100% - 20px);
    }
  }
}

@media (max-width: 480px) {
  .dashboard-section {
    margin-left: 5px;
    padding: 5px;
  }

  .dashboard-section h1 {
    font-size: 1.5rem;
  }

  .main-section {
    .cards-container,
    .chart-contant {
      flex-direction: column;
      gap: 5px;
    }
  }

  .table-section {
    flex-direction: column;
    .top-collecter-section,
    .top-recycler-section {
      width: calc(100% - 10px);
      margin-left: 5px;
    }
  }
}
