$primary-bg-color: white;
$font-family: "Inter", sans-serif;

.dashboard-section {
  transition: margin-left 0.3s ease;

  .main-section {
    padding: 20px;
    border-radius: 20px;
    background-color: $primary-bg-color;

    .cards-container {
      display: flex;
      margin-top: 30px;
      flex-wrap: wrap;
    }
    .chart-contant {
      margin-top: 30px;
      display: flex;
      gap: 15px; // gap: 32px;
    }
  }
}
