.details-section {
  .item-detail {
    .row {
      margin-bottom: 1.5rem;
      .heading {
        font-size: 14px;
        font-weight: 500;
      }
      .detail {
        font-size: 14px;
        font-weight: 400;
        color: rgba(24, 29, 39, 1);
        ul {
          padding-inline-start: 0px;
          li {
            list-style-type: none;
          }
        }
      }
    }
  }
  .item-address {
    .row {
      margin-bottom: 1.5rem;
      .heading {
        font-size: 14px;
        font-weight: 500;
      }
      .detail {
        font-size: 14px;
        font-weight: 400;
        color: rgba(24, 29, 39, 1);
        ul {
          padding-inline-start: 0px;
          li {
            list-style-type: none;
          }
        }
      }
    }
  }
}
