.card-section-1 {
  .card {
    .card__content {
      .title {
        font-size: 14px;
        font-weight: 500;
      }
      .detail {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
