.points-sec {
  background-image: url("/images/pointes-card-image.png");
  background-size: cover;
  width: 100%;
  height: 354px;
  max-width: 315px;

  @include media-max(lg) {
    margin-top: 30px;
    height: 350px;
  }
  .top-section {
    padding: 40px 0px 0px 21px;
    p {
      margin-bottom: 0px !important;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .middle-section {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;

    h1 {
      margin-bottom: 0px !important;
      font-size: 60px !important;
      font-weight: 600;
    }
  }
  .bottom-section {
    padding-left: 20px;
    p {
      font-size: 12px;
      font-weight: 400;
      color: #1f7f82;
    }
  }
}
