$sidebar-width: 310px;
$sidebar-bg: white;
$sidebar-color: #7c7c7c;
$highlight-color: $table-header-background;

.sidebar {
  position: absolute;
  width: 100%;
  max-width: $sidebar-width;
  height: 90vh;
  background-color: $sidebar-bg;
  color: $sidebar-color;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
  top: 20px;
  left: 20px;
  flex-direction: column;

  @include media-max(lg) {
    display: none;
  }

  @include media-max(xxl) {
    height: 75vh;
  }

  &.collapsed {
    transform: translateX(-110%);
  }

  .sidebar-logo {
    display: flex;
    height: 80px;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
    position: fixed;
    z-index: 10;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    height: 85%;
    margin-top: 80px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $sidebar-color $sidebar-bg;

    @include media-max(xxl) {
      height: calc(79vh - 117px);
    }

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: $sidebar-bg;
    }
    &::-webkit-scrollbar-thumb {
      background: $highlight-color;
      border-top-left-radius: 15px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: darken($sidebar-color, 10%);
    }

    ul {
      padding: 0;
      flex-grow: 1;

      .menu-item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        max-width: $sidebar-width;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        // Hover effect applied to the entire .menu-item
        &:hover {
          background-color: $highlight-color;
          border-top-right-radius: 100px;
          border-bottom-right-radius: 100px;
          width: $sidebar-width - 15px;
        }

        a {
          display: block;
          color: $sidebar-color;
          text-decoration: none;
          font-size: 14px;
          font-weight: $fw-400;
          width: 100%;

          .menu-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding: 10px 20px;
            gap: 10px;
            transition: background-color 0.3s ease-in-out;

            &.selected {
              background-color: $highlight-color;
              border-top-right-radius: 100px;
              border-bottom-right-radius: 100px;
              width: $sidebar-width - 15px;
            }

            .caret-icon {
              font-size: 0.8rem;
              margin-left: auto;
              transition: transform 0.3s ease;
            }
          }
        }

        .submenu {
          list-style: none;
          display: block;
          width: 100%;
          transition: all 0.3s ease;

          li {
            a {
              display: block;
              padding: 7px 45px;
              color: $sidebar-color;
              text-decoration: none;
              font-size: 0.8rem;
              transition: background-color 0.3s ease-in-out;

              &:hover {
                background-color: lighten($highlight-color, 15%);
              }

              &.selected {
                background-color: $highlight-color;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }

    .settings-section {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      margin-top: auto; // Push to the bottom dynamically
      gap: 7px;

      .label {
        color: $sidebar-color;
        text-decoration: none;
        font-size: 14px;
        font-weight: $fw-400;
      }

      @include media-max(xxl) {
        margin-top: 55%;
      }
    }
  }
}

@media screen and (min-width: 1440px) and (min-height: 920px) {
  $sidebar-width: 302px;

  .sidebar {
    max-width: $sidebar-width;
    height: 75vh;

    .sidebar-logo {
      padding-left: 25px;
    }

    .sidebar-nav {
      ul {
        li {
          .menu-header {
            gap: 20px;

            a {
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
