.collector-info {
  padding-top: 20px;
}
.collection-card {
  width: 100%;
  max-width: 350px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Inter", sans-serif;

  .collection-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 209px;
  }

  .collection-details {
    padding: 16px;

    .detail {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }

      .label {
        font-weight: 500;
        color: #181d27;
        font-size: 14px;
      }

      .value {
        color: #000;
        font-weight: 400;
      }
    }
  }
}
