.input-field {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
  }

  input,
  select,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  .roles-input,
  .conform-password-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .password-wrapper {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      padding-right: 40px; // Ensure space for the eye button
    }

    .eye-button {
      position: absolute;
      right: 10px; // Positioning eye button to the right inside input
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
      color: gray;

      &:hover {
        color: #3fb4b4;
      }
    }
  }

  .phone-input {
    display: flex;
    flex-direction: column;

    .input-tel {
      display: flex;

      .country-code {
        margin-right: 10px;
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 80px;
      }
    }

    input {
      flex: 1.85;
    }
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
}
