.add-reward-form {
  display: flex;
  flex-direction: column;

  .form-group {
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  // Shared styles for input, select, and textarea
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #d0d5dd;
    font-size: 14px;
    font-family: inherit;
    resize: vertical; // Allow resizing for textarea
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    @include media-max(lg) {
      flex-direction: column;
    }

    .btn {
      border: 1px solid #d0d5dd;
      padding: 10px 25px 10px 20px;
      font-size: 16px;
      font-weight: 600;
    }

    :hover {
      background-color: #3fb4b4;
      color: white;
    }
  }
}
