.recycler-information {
  display: flex;
  @include media-max(lg) {
    flex-direction: column;
    align-items: center;
  }
  .information-details {
    .row {
      .pie-chart-section {
        position: relative;
      }
    }
  }
}
