.profile-body {
  display: flex;
  gap: 40px;
  @include media-max(xxl) {
    gap: 10px;
  }
  .recyclers-info-section {
    .recycler-details {
      display: flex;
      gap: 20px;

      .recycle-info-details {
        display: flex;
      }
      .pointes-container {
        background: url(/public/images/points-bg.png);
        width: 300px;
        height: 330px;
        background-repeat: no-repeat;
        background-size: 240% 101%;
        background-position: left bottom;
        border-radius: 10px;

        .pointes-sec {
          background-image: url(/public/images/points-prize.png);
          height: 330px;
          width: 300px;
          background-size: 105% 82%;
          background-repeat: no-repeat;
          background-position: -334% 217%;
          .top-section {
            padding: 40px 0px 0px 21px;
            p {
              margin-bottom: 0px !important;
              font-size: 14px;
              font-weight: 400;
            }
          }
          .middle-section {
            padding-left: 20px;
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 10px;

            h1 {
              margin-bottom: 0px !important;
              font-size: 30px !important;
            }
          }
          .bottom-section {
            padding-left: 20px;
            p {
              font-size: 12px;
              font-weight: 400;
              color: #1f7f82;
            }
          }
        }
      }
    }
  }
}
