.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;

  @include media-max(desktop-lg) {
    gap: 15px;
  }
  @include media-max(tablet) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card-box {
    flex: 1 1 calc(25% - 20px);
    min-width: 250px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(270deg, #d3e8ac 0%, #e2ffeb 46%, #aee3be 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;

    @include media-max(desktop-lg) {
      min-width: 180px;
      padding: 30px;
    }

    @include media-max(tablet) {
      flex: 1 1 calc(50% - 10px);
      min-width: 150px;
      padding: 12px;
    }

    @include media-max(sm) {
      flex: 1 1 100%;
      min-width: 100%;
      padding: 10px;
    }

    .card-title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px;
      @include media-max(desktop-md) {
        font-size: 12px;
      }
      @include media-max(tablet) {
        font-size: 12px;
      }
    }

    .card-value {
      color: #1f7f82 !important;
      font-size: 30px;
      font-weight: 600;
      @include media-max(desktop-md) {
        font-size: 20px;
      }
      @include media-max(tablet) {
        font-size: 18px;
      }
    }

    .card-inner-div {
      display: flex;
      gap: 10px;
      align-items: center;

      .textValue-box {
        background-color: white;
        padding: 10px;
        border-radius: 15px;
        color: #1f7f82;
        font-size: 12px;
        p {
          margin: 0px;
          font-size: 11px;
          font-weight: 400;
        }
        @include media-max(desktop-md) {
          padding: 10px;
          font-size: 10px;
        }
        @include media-max(tablet) {
          font-size: 10px;
        }
      }

      p {
        font-size: 12px;
        margin: 0px;

        @include media-max(tablet) {
          font-size: 10px;
        }
      }
    }
  }
}
