.details-section {
  .col-lg-6 {
    .row {
      .col-lg-5 {
        font-size: 14px;
        font-weight: 600;
      }
      .col-lg-7 {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
