@mixin button-style(
  $bg-color,
  $text-color,
  $border: none,
  $width,
  $padding: 10px 20px,
  $font-size: 16px,
  $hoverColor
) {
  background-color: $bg-color;
  color: $text-color;
  border: $border;
  padding: $padding;
  font-size: $font-size;
  border-radius: 4px;
  cursor: pointer;
  max-width: $width;
  width: 100%;

  @media (max-width: 1024px) {
    max-width: 100%;
  }
  &:hover {
    background-color: $hoverColor;
    color: aliceblue;
    transition: background-color 0.3s ease;
  }
}
